<?php
{{#models}}
{{#model}}
/**
 * {{classname}}
 *
 * PHP version 5
 *
 * @category Class
 * @package  {{invokerPackage}}
 * @author   Hamed Ramezanian Nik
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://newsapi.aylien.com/
 */

{{>partial_header}}

namespace {{modelPackage}};

use \ArrayAccess;

/**
 * {{classname}} Class Doc Comment
 *
 * @category    Class
{{#description}}
 * @description {{description}}
{{/description}}
 * @package     {{invokerPackage}}
 * @author      Hamed Ramezanian Nik
 * @license     http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link        https://newsapi.aylien.com/
 */
{{#isEnum}}{{>model_enum}}{{/isEnum}}{{^isEnum}}{{>model_generic}}{{/isEnum}}
{{/model}}{{/models}}
