<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2011/08/nuspec.xsd">
    <metadata>
        <version>{{packageVersion}}</version>
        <id>Aylien.NewsApi</id>
        <title>Aylien.NewsApi</title>
        <description>Aylien News API library for .NET</description>
        <authors>Aylien Inc., Hamed Ramezanian Nik</authors>
        <owners>Aylien Inc.</owners>
        <licenseUrl>https://github.com/AYLIEN/aylien_newsapi_csharp/blob/master/LICENSE</licenseUrl>
        <projectUrl>https://newsapi.aylien.com/</projectUrl>
        <requireLicenseAcceptance>true</requireLicenseAcceptance>
        <copyright>Copyright AYLIEN Inc. 2017</copyright>
        <releaseNotes>See GitHub for details of commits since previous version.</releaseNotes>
        <tags>Aylien News API</tags>
        <dependencies>
            <dependency id="Newtonsoft.Json" version="8.0.3" />
            <dependency id="RestSharp" version="105.2.3" />
        </dependencies>
        <frameworkAssemblies>
            <frameworkAssembly assemblyName="System.ComponentModel.DataAnnotations" />
        </frameworkAssemblies>
    </metadata>
    <files>
        <file src="README.md" target="tools/README.md" />
        <file src="bin/net45/Aylien.NewsApi.dll" target="lib/net45/Aylien.NewsApi.dll" />
        <file src="bin/net45/Aylien.NewsApi.xml" target="lib/net45/Aylien.NewsApi.xml" />

        <file src="bin/net40/Aylien.NewsApi.dll" target="lib/net40/Aylien.NewsApi.dll" />
        <file src="bin/net40/Aylien.NewsApi.xml" target="lib/net40/Aylien.NewsApi.xml" />
    </files>
</package>