# coding: utf-8

{{>partial_header}}

import sys
from setuptools import setup, find_packages

NAME = "{{packageName}}"
VERSION = "{{packageVersion}}"
{{#apiInfo}}
{{#apis}}
{{^hasMore}}
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

REQUIRES = ["urllib3 >= 1.15", "six >= 1.10", "certifi", "python-dateutil"]

setup(
    name=NAME,
    version=VERSION,
    description="AYLIEN News API Client Library for Python",
    author="AYLIEN Inc., Hamed Ramezanian Nik",
    author_email="support@aylien.com, hamed.r.nik@gmail.com",
    url="{{packageUrl}}",
    download_url = "https://github.com/AYLIEN/aylien_newsapi_python/tarball/v" + VERSION,
    keywords="aylien news api client",
    install_requires=REQUIRES,
    packages=find_packages(),
    license="Apache-2.0",
    include_package_data=True,
    long_description=open('README.rst').read(),
    classifiers=[
      'Development Status :: 4 - Beta',
      'Intended Audience :: Developers',
      'License :: OSI Approved :: Apache Software License',
      'Operating System :: Microsoft',
      'Operating System :: POSIX',
      'Programming Language :: Python :: 2.7',
      'Programming Language :: Python :: 3.4',
      'Programming Language :: Python :: 3.5',
      'Topic :: Internet :: WWW/HTTP :: Dynamic Content :: News/Diary',
    ]
)
{{/hasMore}}
{{/apis}}
{{/apiInfo}}
